@keyframes colorChange {
    0%  { background-color: orange; }
    20%  { background-color: yellow; }
    40%  { background-color: green; }
    60%  { background-color: blue; }
    80% { background-color: purple; }
    0%   { background-color: red; }
}

main {
    height: 100vh;
}

.bg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: red;
    animation: colorChange 10s infinite;
}

span {
    font-size: 72px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

img {
    height: inherit;
    padding: 2rem;
}

.flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}